<div class="page page-tables" layout-gt-sm="column" ng-controller="CategoriesCtrl">

    <div flex>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase">Static Table</span>
                    <md-divider></md-divider>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>

                <md-table-container>
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column></th>
                                <th md-column>Post</th>
                                <th md-column>Author</th>
                                <th md-column>Categories</th>
                                <th md-column>Tags</th>
                                <th md-column>Date</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="data in staticData">
								<td md-cell>
									<md-checkbox></md-checkbox>
								</td>
								<td md-cell>{{data.post}}</td>
								<td md-cell>{{data.author}}</td>
								<td md-cell>{{data.categories}}</td>
                                <td md-cell>
                                    <small ng-repeat="tag in data.tags" style="border-radius: 2px; padding: 2px 4px; margin-right: 4px" md-colors="{background: data.tagColor}">{{tag}}</small>
                                </td>
								<td md-cell>{{data.date}}</td>
							</tr>
                        </tbody>
                    </table>

                </md-table-container>
            </md-card-content>

        </md-card>



    </div>

</div>
