<div class="page page-tables" layout-gt-sm="column" ng-controller="UsersCtrl">

    <div flex>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase">Data Table</span>
                    <md-divider></md-divider>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <md-table-container>
                    <table md-table md-row-select='options.rowSelection' multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
                        <thead ng-if="!options.decapitate" md-head md-order="query.order" md-or-reorder="onReorder">
                            <tr md-row>
                                <th md-column><span>User ID</span></th>
                                <th md-column><span>First Name</span></th>
                                <th md-column><span>Last Name</span></th>
                                <th md-column><span>Email</span></th>
                                <th md-column><span>Role</span></th>
                                <th md-column>Created</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="user" md-select-id="id" data-md-on-select="log" md-on-deselect="deselect" md-auto-select="options.autoSelect" data-ng-repeat="user in users | filter: filter.search | orderBy: sorterFunc: true">
                                <td md-cell>{{user.id}}</td>
                                <!-- <td md-cell>
                                  <md-select ng-model="dessert.type" placeholder="Other">
                                    <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
                                  </md-select>
                                </td> -->
                                <td md-cell>{{user.first_name}}</td>
                                <td md-cell>{{user.last_name}}</td>
                                <td md-cell>{{user.email}}</td>
                                <td md-cell>{{user.role}}</td>
                                <td md-cell>{{user.created}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{users_count.count}}" md-on-paginate="onPaginate" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"></md-table-pagination>
            </md-card-content>
        </md-card>


    </div>

</div>
